/* all map containers must be full height */
/*html, body, .container, .row, */

/*.map {*/
/*    height: 100%*/
/*}*/
/*#map-canvas {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    height: calc(100% - 0px);*/
/*}*/
#map-canvas {
    margin: 0
}
#map-canvas {
    position: fixed;
    height: 100vh;
    width: 100vw
}